body {
    overflow-x: hidden;
    background-color: white;
}

.logo{
    width: 5rem;
    height: 4rem;
}
.navbar{
    background-color: black !important;
   
}
.navbar-toggler{
    color: white !important;
  
}
#image{
width:30;
height: 30rem;
border-radius: 50%;
}
.abouttitle{
    margin-top: 4rem;
    margin-left:8rem;
    font-family: 'PT Serif', serif;
    color: rgba(0,208,255,255);
}
.about{
    margin-top:5rem;
    font-family: 'PT Serif', serif;
}
.container-slogan{
font-family: 'PT Serif', serif;

}
a:hover {
    background-color:rgba(0,208,255,255);
   
  };
